div#main {
    display: flex;
}
iframe#embed_img {
    position: relative;
    left: 32px;
    height: 500px;
    top: 10px;
}
div#message {
    background-color: black;
    color: white;
    width: 850px;
    position: relative;
    left: 32px;
    height: 500px;
    top: 10px;
    overflow-y: scroll;
}
h1#heading {
    height: 60px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 30px;
    background-color: black;
    color: white;
}
h2#hd1 {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    font-size: 23px;
    font-family: math;
    background-color: white;
    color: black;
}
h2#hd2 {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-family: math;
    background-color: black;
    color: white;
    height: 40px;
}
a#back_directions {
    background-color: black;
    text-decoration-line: none;
    display: flex;
    height: 40px;
    width: 100px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 700px;
    top: 20px;
    border-radius: 10px;
    color: white;
}