<!DOCTYPE html>
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'trip_form.css' %}">
</head>
<body>
<div align="center">
    <div id="heading_1">
    <h1 id="h1">Welcome {{user}} Happy Traveling</h1>
    <a href="/i">Logout</a>
        </div>
    <div id="main_tripform">
        <div id="form1">
        <h1 id="main_form">Start your journey Now</h1>
    <form id="form_id" method="post">
        {{form.as_p}}
        {% csrf_token %}
        <input id="form_inp" type="submit" value="Start">
    </form>
            </div>
            <br>
        <div id="form2">
    <h1 id="statement">Search Below The Type of Areas ( Restraunt's, Temples, Hotels etc.. ) you would like to visit around a Place.</h1>
    <form id="srh_form_id" method="post">
        {{srh_form.as_p}}
        {% csrf_token %}
        <input id="srh_form_inp" type="submit" value="Start">
    </form>
            </div>
        </div>
</div>
</body>
</html>